
@font-face {
  font-family: 'Quella';
  src: url('/Quella.otf') format('opentype');
}

@font-face {
  font-family: 'Regular';
  src: url('/Lato/Lato-Regular.ttf') format('truetype');
}

html{
  background: #130303
}

nav {
  position: relative;
  width: 100%;
  display: flex
;
  justify-content: space-between;
  align-items: center;
  padding: 0 25px;
}

header{
  flex: 1;
  
    background: #3F0106;
    height: 48px;
    width: 100%;
  
    position: fixed;
    left: 0;
    top: 0;

    label {
      cursor: pointer;
      height: 20px;
      position: absolute;
      right: 1rem;
      top: 1rem;
      width: 26px;
      z-index: 1001;
      padding: 10px 0;
      
      span {
        background-color: #F9EEEE;
        border-radius: 2px;
        display: block;
        height: 3px;
        position: absolute;
        width: 100%;
  
        transform-origin: left;
  
        &:nth-child(1) {
          top: 0;
        }
  
        &:nth-child(2) {
          top: 8px;
        }
  
        &:nth-child(3) {
          top: 16px;
        }
      }
    }
  }
  
  nav {
    font-family: 'Quella', serif;
    background: #3F0106;
    height: 100vh;
    margin-block-start: 48px;
    width: 300px;
  
    position: fixed;
    right: -300px;
    top: 0;
    z-index: 1000;
  
    ul {
      list-style: none;
      margin: 0;
      padding: 0;
  
      li {
        padding: 0;
  
        a {
          color: #F9EEEE;
          display: block;
          font-size: 1.25rem;
          padding-block: 1rem;
          padding-inline: 1rem;
          text-decoration: none;
          
          /* when you hover the nav it turns these colors*/
          &:hover {
            background-color: #F9EEEE;
            color: #302513;
          }
        }
      }
    }
  }
  
  /* Show nav when checkbox is checked */
  /* hamburger icon switches to exit symbol */
  .nav-toggle:checked ~ nav {
    right: 0;
  }
  
  .nav-toggle:checked ~ .nav-toggle-label span:nth-child(1) {
    transform: rotate(45deg);
    top: -2px; 
  }
  
  .nav-toggle:checked ~ .nav-toggle-label span:nth-child(2) {
    opacity: 0;
  }
  
  .nav-toggle:checked ~ .nav-toggle-label span:nth-child(3) {
    transform: rotate(-45deg);
  }

/* -------------dropdown button ------------------------------- */
.dropbtn {
    background-color: #04AA6D;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
  }
  
  /* The container <div> - needed to position the dropdown content */
  .dropdown {
    position: relative;
    display: inline-block;
  }
  
  /* Dropdown Content (Hidden by Default) */
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  
  /* Links inside the dropdown */
  .dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }
  
  /* Change color of dropdown links on hover */
  .dropdown-content a:hover {background-color: #ddd;}
  
  /* Show the dropdown menu on hover */
  .dropdown:hover .dropdown-content {display: block;}
  
  /* Change the background color of the dropdown button when the dropdown content is shown */
  .dropdown:hover .dropbtn {background-color: #3e8e41;}